<div class="main-nav-bx">
    <nav class="navbar navbar-default">
        <div class="tp-bg">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed menu-bx" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
                    <a class="logo" href="#">  Faridabad 24x7 </a>
                </div>
                <div class="smm-bx">
                    <ul>
                        <li class="log-in">
                            <a href="#"> <i class="fa fa-user-circle"></i> </a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"> </i> </a></li>
                        <li><a href="#"><i class="fa fa-twitter"> </i> </a></li>
                        <li><a href="#"><i class="fa fa-instagram"> </i> </a></li>
                        <li><a href="#"><i class="fa fa-google-plus"> </i> </a></li>
                        <li><a href="#"><i class="fa fa-rss"> </i> </a></li>

                    </ul>
                </div>
            </div>
        </div>

        <div class="nav-bar-bx">
            <div class="container">
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-cus">
                        <li class="active"><a href="#">Life</a></li>
                        <li><a href="#"> Tech </a></li>
                        <li><a href="#"> Health </a></li>
                        <li><a href="#"> Productivity </a></li>
                        <li><a href="#"> Jugaad </a></li>
                        <li><a href="#"> Work </a></li>
                        <li><a href="#"> Money </a></li>
                        <li><a href="#"> How I work </a></li>
                        <li><a href="#"> Gallery  </a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Life</a></li>
                                <li><a href="#"> Tech </a></li>
                            </ul>
                        </li>
                    </ul>

                </div>
                <!--/.nav-collapse -->
            </div>

        </div>

    </nav>
</div>