<header>
    <div class="top-nav">
        <div class="header-top dark">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-8 col-lg-8">
                        <ul class="contact-bx">
                            <li><i class="fa fa-phone pr-1 pl-2"></i><a href="#">+12 123 123 123</a></li>
                            <li><i class="fa fa-envelope-o pr-1 pl-2"></i> <a href="#">theproject@mail.com</a></li>
                        </ul>
                    </div>

                    <div class="col-12 col-sm-4 col-lg-4">
                        <div>
                            <ul class="smm-bx">
                                <li>
                                    <a href="#"> <i class="fa fa-facebook"></i> </a>
                                </li>
                                <li>
                                    <a href="#"> <i class="fa fa-twitter"></i> </a>
                                </li>
                                <li>
                                    <a href="#"> <i class="fa fa-linkedin"></i> </a>
                                </li>
                                <li>
                                    <a href="#"> <i class="fa fa-google-plus"></i> </a>
                                </li>
                                <li>
                                    <a href="#"> <i class="fa fa-rss"></i> </a>
                                </li>
                            </ul>


                        </div>
                        <!-- header-top-first end -->
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- navbar -->
    <nav class="navbar navbar-toggleable-md navbar-inverse menu-bx">
        <div class="container">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand logo" href="#"> Faridabad<span>24x7</span> </a>
            <div class="collapse navbar-collapse start-end" id="navbarCollapse">
                <ul class="navbar-nav cus-navbar">
                    <li class="nav-item" *ngFor="let menu of menus">
                        <a class="nav-link" href="#"> {{menu.value}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</header>