@import url('https://fonts.googleapis.com/css?family=Courgette&subset=latin-ext');

.logo {
    color: #fff;
    font-size: 15px;
    padding: 10px;
    display: inline-block;
    font-size: 25px;
    text-decoration: none;
    font-family: 'Courgette';
}

.smm-bx {
    float: right;
    padding: 5px;
}

.smm-bx ul {
    padding: 0;
    margin: 0;
}

.smm-bx ul li {
    list-style: none;
    display: inline-block;
}

.smm-bx li>a {
    display: block;
    padding: 10px 8px;
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    font-weight: bold;
}

.smm-bx li>a>i {
    font-size: 16px;
}

.header-bg {
    background: #75952f;
}

.main-nav-bx .navbar {
    border: 0;
}

.nav-bar-bx {
    background: #536723;
}

.nav-bar-bx .navbar-default .navbar-nav>.active>a,
.nav-bar-bx .navbar-default .navbar-nav>.active>a:focus,
.nav-bar-bx .navbar-default .navbar-nav>.active>a:hover {
    color: #fff;
}

.nav-bar-bx .navbar-nav>li>a {
    color: #fff;
}

.navbar-cus {
    display: block;
    width: 100%;
}

.navbar-default .navbar-cus>.active>a,
.navbar-default .navbar-cus a:focus,
.navbar-default .navbar-cus a:hover {
    background: rgba(255, 255, 255, 0.1);
}

.menu-bx .icon-bar {
    background-color: #fff;
}

.navbar-default .menu-bx:focus,
.navbar-default .menu-bx:hover {
    background-color: rgba(0, 0, 0, 0.1)
}


/** media **/

@media (max-width: 992px) {
    .navbar-left,
    .navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px 0 0 0;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in {
        display: block !important;
    }
    .menu-bx {
        position: absolute;
        top: 0;
        right: 10px;
    }
    .smm-bx {
        padding-right: 52px;
    }
}

@media (max-width:767px) {
    .logo {
        text-align: center;
        display: block
    }
    .smm-bx {
        float: none;
        text-align: center;
        padding-right: 0;
    }
    .navbar-default .navbar-cus .open .dropdown-menu>li>a {
        color: aliceblue;
        padding: 10px 0 10px 45px;
    }
    .navbar-cus>li>a {
        padding: 15px 20px;
    }
}