<footer>
<div class="container">  
	<div class="row">
	  <div class="col-md-3 col-sm-3 col-lg-3 col-xl-3">
	    <ul class="list-unstyled">
	      <li>
			  	<h2><a href="#"><img src="../../assets/images/pc-india.png" alt="AdAge India"></a></h2>
				<div class="fotr-links">
				<a href="#">The Best (LMS) Learning Management Systems fo...</a>
			    <a href="#">The Best Laser Printers of 2018</a>
				<a href="#">The Best Cheap Laptops of 2018</a>
				<a href="#">The Best Video Streaming Services of 2018</a>
				</div>
				<div class="fotr-readmore"><a href="#">Read More</a></div>
			  </li>
	    </ul>
	  </div>
	  <div class="col-md-3 col-sm-3 col-lg-3 col-xl-3">
	    <ul class="list-unstyled">
	      <li>
			  	<h2><a href="#"><img src="../../assets/images/pc-india.png" alt="AdAge India"></a></h2>
				<div class="fotr-links">
				<a href="#">The Best (LMS) Learning Management Systems fo...</a>
			    <a href="#">The Best Laser Printers of 2018</a>
				<a href="#">The Best Cheap Laptops of 2018</a>
				<a href="#">The Best Video Streaming Services of 2018</a>
				</div>
				<div class="fotr-readmore"><a href="#">Read More</a></div>
			  </li>
	    </ul>
	  </div>
	  <div class="col-md-3 col-sm-3 col-lg-3 col-xl-3">
	    <ul class="list-unstyled">
	      <li>
			  	<h2><a href="#"><img src="../../assets/images/pc-india.png" alt="AdAge India"></a></h2>
				<div class="fotr-links">
				<a href="#">The Best (LMS) Learning Management Systems fo...</a>
			    <a href="#">The Best Laser Printers of 2018</a>
				<a href="#">The Best Cheap Laptops of 2018</a>
				<a href="#">The Best Video Streaming Services of 2018</a>
				</div>
				<div class="fotr-readmore"><a href="#">Read More</a></div>
			  </li>
	    </ul>
	  </div>
	  <div class="col-md-3 col-sm-3 col-lg-3 col-xl-3">
	    <ul class="list-unstyled">
	      <li>
			  	<h2><a href="#"><img src="../../assets/images/pc-india.png" alt="AdAge India"></a></h2>
				<div class="fotr-links">
				<a href="#">The Best (LMS) Learning Management Systems fo...</a>
			    <a href="#">The Best Laser Printers of 2018</a>
				<a href="#">The Best Cheap Laptops of 2018</a>
				<a href="#">The Best Video Streaming Services of 2018</a>
				</div>
				<div class="fotr-readmore"><a href="#">Read More</a></div>
			  </li>
	    </ul>
	  </div>
	</div>
</div>

</footer>