.how-work .main-head{ color: #fff; background:#556f08; padding:10px; margin: 0 0 20px; text-transform: uppercase }
.how-work figure{margin: 0 0 5px;}
.how-work a{color: #333;}
.how-work-list li{margin: 0 0 20px 0;}