<div class="row">
  <div class="col-md-9">
     
      <div class="row news-list">
          <div class="col-md-12">
              <figure>
                  <img [src]="newsDetail.imageL" alt="{{newsDetail.heading}}" class="img-fluid">
              </figure>

          </div>
          <div class="col-md-12">
              <h4>
                  <a>{{newsDetail.heading}}</a>
              </h4>
              <p class="news-author-days">
                  <span>{{newsDetail.author}}</span> |
                  <span>{{newsDetail.days}}</span>
              </p>
              <p>{{newsDetail.desc}}</p>
          </div>
      </div>
  </div>
  <div class="col-md-3"><app-suggested-news></app-suggested-news></div>
</div>
